DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=12345
DB_NAME=girls4girls

EMAIL_HOST=smtp.gmail.com
EMAIL_USER=nursultanbegaliev1@gmail.com
EMAIL_PASSWORD=lichfvgvklmwiubu

CLOUD_NAME=dy57yqz8c
API_KEY=751675746445438
API_SECRET=0885FlHCMicE9rQtPnnxkxJZk0w

BASE_URL=http://localhost:3000/api
